---
import Button from './Button.astro';
import { MessageSquare, Download } from 'lucide-astro';
---

<section id="about" class="py-20 ">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold mb-2">About</h2>
    <p class="text-gray-600 mb-12">Get to know me</p>
    
    <div class="flex md:flex-row flex-col gap-12 items-center">
      <div>
        <div class="rounded-lg overflow-hidden mb-6 max-w-md ">
          <img src="/profile.jpg" alt="Aloys" class="w-full" />
        </div>
      </div>
      
      <div>
        <p class="text-xl mb-6">Hello, I'm Alo (short for Aloys)!</p>
        
        <p class="mb-4">
          I'm a Senior UX Engineer at Shorthand - which is a fancy word for a developer that cares about crafting products that are both simple to use and aesthetically pleasing.
        </p>
        
        <p class="mb-4">
          I enjoy building digital products, among other many other interests.
        </p>
        
        <p class="mb-4">
          I've already said that, didn't I?
        </p>
        
        <p class="mb-4">
          It's always a bit awkward to try to introduce yourself to the world wide web.
        </p>
        
        <p class="mb-4">
          If you want to know more about my professional credentials, you can grab a copy of my resume.
        </p>
        
        <p class="mb-8">
          Otherwise, send me a message, I would love to chat with you!
        </p>
        
        <div class="flex md:flex-row flex-col gap-4">
          <Button text="Send me a message" href="#contact" variant="outline" size="md">
            <MessageSquare slot="icon-left" class="w-5 h-5"  slot="suffix"/>
          </Button>
          <Button text="Get my resume" href="/resume.pdf" variant="outline" size="md" download="aloys-resume.pdf">
          <Download class=" h-5 w-5" slot="suffix" />
          </Button>
        </div>
      </div>
    </div>
  </div>
</section> 