---
import { Info, X } from 'lucide-astro'
---

<div id="announcement-banner" class="fixed top-12 xs:max-md:left-2 right-2 md:top-24 md:right-12 bg-primary border-2 border-black shadow-main py-3 px-4 z-50 flex items-start justify-between">
  <div class="flex items-center">
    <span class="mr-2">
      <Info size={20} />
    </span>
    <div>
      <p class="text-sm font-medium">Heads up! This site is under construction. <br/>Thanks for your patience while I polish things up!</p>
      <p class="text-sm mt-1"><a href="mailto:aloysberger@gmail.com" class="underline hover:text-gray-700">You can email me by clicking here.</a></p>
    </div>
  </div>
  <button id="close-banner" class="text-black hover:text-gray-700 ml-4">
    <X size={20} />
  </button>
</div>

<script>
  // Check if the banner has been dismissed before
  const isBannerDismissed = localStorage.getItem('bannerDismissed') === 'true';
  const banner = document.getElementById('announcement-banner');
  
  // If the banner was previously dismissed, hide it
  if (isBannerDismissed && banner) {
    banner.style.display = 'none';
  }

  // Add event listener to the close button
  const closeButton = document.getElementById('close-banner');
  if (closeButton) {
    closeButton.addEventListener('click', () => {
      if (banner) {
        banner.style.display = 'none';
        // Save the dismissal in localStorage
        localStorage.setItem('bannerDismissed', 'true');
      }
    });
  }
</script> 