---
import Button from './Button.astro';
---

<section id="contact" class="py-20">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold mb-2">Contact</h2>
    <p class="text-gray-600 mb-12">Let's have a chat</p>
    
    <div class="flex flex-col md:flex-row gap-12">
      <div class="flex-1 text-lg">
        <p >Want to work together or simply wish to have a chat over your ideas?</p>
        <p class="mb-4">Leave me a message here!</p>
        <p class="mb-4">I reply to most messages within 72 hours.</p>
      </div>
      
      <div class="bg-white p-8 rounded-lg border-2 border-black shadow-main flex-0 ">
        <form class="space-y-6 md:min-w-sm">
          <div>
            <label for="name" class="block mb-2 text-lg font-medium">Name</label>
            <input 
              type="text" 
              id="name" 
              value="Johno!"
              class="w-full p-3 border-2 border-black rounded-md shadow-main"
            />
          </div>
          
          <div>
            <label for="email" class="block mb-2 text-lg font-medium">Email</label>
            <input 
              type="email" 
              id="email" 
              value="I won't send your spam!"
              class="w-full p-3 border-2 border-black rounded-md shadow-main"
            />
          </div>
          
          <div>
            <label for="message" class="block mb-2 text-lg font-medium">Message</label>
            <textarea 
              id="message" 
              rows="4" 
              class="w-full p-3 border-2 border-black rounded-md shadow-main"
            >Hey, I like your work!

Can you build a MVP for me?</textarea>
          </div>
          
          <Button text="Send it!" variant="solid" size="lg" class="w-full"/>
        </form>
      </div>
    </div>
  </div>
</section> 