---
import Button from "./Button.astro";
---

<header class="py-6">
  <div class="container mx-auto px-4">
    <nav class="flex justify-center md:justify-end items-center">
      <div class="space-x-4">
        <a href="#projects" class="hover:font-bold hover:underline transition-all duration-300">Projects</a>
        <a href="#about" class="hover:font-bold hover:underline transition-all duration-300">About</a>
        <a href="#testimonials" class="hover:font-bold hover:underline transition-all duration-300">Testimonials</a>
        <a href="#contact" class="hover:font-bold hover:underline transition-all duration-300">Contact</a>
      </div>
    </nav>
  </div>
</header> 
