---
import ProjectCard from './ProjectCard.astro';

const projects = [
  {
    title: "Berway",
    description: "Booking application for traveling between using public data",
    problem: "Organizing journeys for someone is time-consuming - how better to do this?",
    solution: "Berway is at its essence a journey optimizer. Users based off location can see with train connections, ferries, other transport options. It incorporates the ability to customize the length of each and the time of the journeys. The application will be integrated with DNSB such as Skyscanner.",
    tags: ["SaaS", "Transport"]
  },
  {
    title: "Refi",
    description: "Personal budget tool that, well, another one!",
    problem: "We've seen a bunch of personal finance tracker over the year, and I thought I'd add to them.",
    solution: "Refi is a simple, yet intuitive budget tracker which has deep enough UX to make it easy to review transaction. Leveraging various products, Refi is organized around speed.",
    tags: ["Self-financed", "Single-page"]
  },
  {
    title: "Microservice toolkit: authentication, rate limiter and email verification",
    description: "A collection of microservices for common web application needs",
    problem: "Every often, we need authentication in our digital products.",
    solution: "Using Django for its performance, I standardized my approach to auth and created a toolkit of small components ready to incorporate into digital products.",
    tags: ["OSS", "Django"]
  }
];
---

<section id="projects" class="py-20">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold mb-2">Current projects</h2>
    <p class="text-gray-600 mb-12">Take a look into what I've been working on recently!</p>
    
    <div>
      {projects.map((project, index) => (
        <ProjectCard {...project} isReversed={index % 2 === 1} />
      ))}
    </div>
  </div>
</section> 